name: Docker Image CI

on:
  push:
    tags: ["v*"]       # 只有推送到 v1.0.0 这样的标签时才会触发生产镜像发布
    branches: [ "main" ] # 推送到 main 分支时会发布带有 :latest 标签的镜像
  pull_request:
    branches: [ "main" ]

env:
  DOCKER_IMAGE_NAME: soulcloak/melogo 
  BINARY_NAME: melogo
  VERSION: 0.0.1

jobs:
  build-and-push-docker:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    permissions:
      contents: read
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
      with:
        platforms: all

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # 1.  DockerHub
    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # 2. 提取版本号逻辑
    - name: Get version
      id: vars
      run: |
        if [[ $GITHUB_REF == refs/tags/* ]]; then
          echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        else
          echo "VERSION=latest" >> $GITHUB_OUTPUT
        fi

    # 3. 智能处理 Docker 标签
    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ env.DOCKER_IMAGE_NAME }}
        tags: |
          type=semver,pattern={{version}}
          type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}

    # 4. 构建并推送 Docker 镜像
    - name: Build and push Docker images
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./Dockerfile.multiarch
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
          ${{ env.DOCKER_IMAGE_NAME }}:${{ env.VERSION }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args: |
          VERSION=${{ env.VERSION }}